<header>
    <div class="logo">
        <p>portafolio</p>
    </div>
    <ul class="nav">
        <li>
            <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li>
            <a routerLink="/sobre-mi" routerLinkActive="active">Sobre mi</a>
        </li>
        <li>
            <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
        </li>
        <li>
            <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
    </ul>
</header>
