.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 'header'
                        'content';
    
    &__header {
        grid-area: header;

    }

    &__content {
        grid-area: content;
    }
}
